# Anotações durante o aceleraDev DS

Básicas

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

**Leitura e escrita de arquivos**

In [2]:
df_csv = pd.read_csv('exemplo.csv') #lendo CSV
df_csv = pd.read_csv('exemplo.csv',sep = ',', decimal = '.') #lendo CSV com separador ";" e o decimal ","
df_json = pd.read_json('exemplo.json')
df_csv.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [ ]:
df_csv.to_csv('exemplo_salvo.csv',sep = ';',decimal = ',') #salvando arquivo com separador e decimal
df_json.to_json('exemplo_salvo.json')

**Conhecendo os dados**

In [ ]:
df_csv.head() #primeiras linhas do DF
df_csv.head(10)#primeiras linhas do DF (qtd q vc qr)

df_csv.tail() #ultimas linhas
df_csv.tail(10) #ultimas linhas (qtd q vc qr)

df_csv.describe() #Qtd de linhas, média, desvio padrão, mínimo, máximo e os quartis

df_csv.shape #Qtd de linhas e colunas
df_csv.shape[0] # 0 = Qtd de linhas | 1 = Qtd de colunas

In [ ]:
df_csv.dtypes #Tipos de dados por coluna
df_csv.dtypes.value_counts() # Qtd de colunas por tipo
df_csv.columns #mostra o nome das colunas
df_csv['User_ID'] #acessa uma coluna específica
df_csv[['User_ID','Product_ID']] #acessa mais de uma coluna específica 
df_csv.info() #Retorna a qtde de valores nulos por coluna
df_csv.nunique() #Retorna a qtde de valores unicos por coluna
df_csv.isnull().sum() # Retorna a qtd de valores nulos por coluna ²
df_csv.isna() #Retorna True ou False se um valor é nulo ou não

In [ ]:
df_csv['Product_ID'][10] #Acessa linha específica de uma coluna
df_csv['Product_ID'][5:10] #Acessa uma fatia específica de uma coluna
df_csv.iloc[:2,1:] #Acessa uma fatia específica levando em consideração as linhas e as colunas [:linha,coluna:]
df_csv['Gender'].value_counts() # Conta uma coluna por suas categorias
df_csv.groupby(['Gender','Product_Category_2']).sum() #Faz um group by com uma função de agregação

**Tratando os dados**

In [ ]:
df_csv['Coluna nova'] = df_csv['Gender'] + 'T' #Criando uma coluna nova
df_csv.rename(columns = {'Marital_Status':'Estado_civil'},inplace = True)
df_csv.drop(columns = 'Coluna nova', inplace = True) #Remove uma coluna
df_csv.drop(columns = ['Occupation','City_Category'], inplace = True) #Remove mais de uma coluna

In [7]:
df_csv.fillna(0) # Substitui os nulos por 0
df_csv['Nova categoria'] = pd.cut(df_csv['Purchase'],bins = (0,5000,9000,12000),labels = ('Q 25%','Q 50%','Q 75%')) #Cria uma categoria
df_csv['Nova categoria 2'] = ['Maior q 5000' if x > 5000 else 'Menor q 5000' for x in df_csv['Purchase']]